<div class=" h-100 d-flex align-items-center justify-content-center">
<h1>
  About -- Developers
</h1>
</div>
<div class=" h-100 d-flex align-items-center justify-content-center">
<ul>
  <li>Jalon Kimes</li>
  <li>Fritz Duverglass</li>
</ul>
</div>
